<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 pages-action">
      <a href="<%= url(:artworks, :new) %>" id="create" type="button" class="btn btn-primary save">Create</a>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th style="width: 10%"></th>
          <th style="width: 30%">Name</th>
          <th style="width: 50%">Description</th>
          <th style="width: 10%"></th>
        </thead>
        <tbody>
          <% @artworks.each do |work| %>
          <tr>
            <td style="width: 10%"><a title="Edit ArtWork" href="<%= url(:artworks, :edit, id: work.id) %>""><img class="art-image" src="<%= work.image %>"></a></td>
            <td style="width: 30%"><%= work.name %></td>
            <td style="width: 50%"><%= work.description %></td>
            <td style="width: 10%"><a class="trash "href="<%= url(:artworks, :destroy, id: work.id) %>" title="Delete ArtWork"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
