<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 pages-action">
      <a href="<%= url(:artworks, :new) %>" id="create" type="button" class="btn btn-primary save">Create</a>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th></th>
          <th>Name</th>
          <th>Description</th>
        </thead>
        <tbody>
          <% @artworks.each do |work| %>
          <tr>
            <td style="width: 10%"><a href="<%= url(:artworks, :edit, id: work.id) %>""><img class="art-image" src="<%= work.image %>"></a></td>
            <td style="width: 30%"><%= work.name %></td>
            <td style="width: 60%"><%= work.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
